@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}

.dark {
  --background: black;
  --foreground: white;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1rem;
  .left {
    display: flex;
    align-items: center;
  }
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.page {
  display: flex;
  height: calc(100vh - 50px);
  align-items: center;
  justify-content: center;
  .content-wrapper {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;

    &.large {
      font-size: 1.3rem;
    }
  }
}

.inline-link:hover .hover-text {
  display: block;
}

.large-text-button {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.social-links-section {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  @media (min-width: 640px) {
    flex-direction: row;
    gap: 1.25rem;
  }
}

.social-link {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0;
  gap: 0.4rem;
  align-items: center;
  opacity: 0.4;
  transition: all 0.1s ease-in-out;

  &:hover {
    opacity: 1;
  }

  @media (min-width: 640px) {
    width: auto;
  }
}
